:root {
  --primary-r: 223;
  --primary-g: 46;
  --primary-b: 56;
  --primary-a: 1;

  --secondary-r: 93;
  --secondary-g: 156;
  --secondary-b: 89;
  --secondary-a: 1;

  --tertiary-r: 199;
  --tertiary-g: 232;
  --tertiary-b: 202;
  --tertiary-a: 1;

  --bg-color-r: 221;
  --bg-color-g: 247;
  --bg-color-b: 227;
  --bg-color-a: 1;

  --primary-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), var(--primary-a));
  --secondary-color: rgba(var(--secondary-r), var(--secondary-g), var(--secondary-b), var(--secondary-a));
  --tertiary-color: rgba(var(--tertiary-r), var(--tertiary-g), var(--tertiary-b), var(--tertiary-a));
  --bg-color: rgba(var(--bg-color-r), var(--bg-color-g), var(--bg-color-b), var(--bg-color-a));

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

@font-face{
  font-family: 'MountainsofChristmas';
  src:  url('./assets/fonts/MountainsofChristmas.ttf')  format('truetype');
}

h1 {
  font-family: 'MountainsofChristmas', serif;
  text-align: center;
  color: var(--primary-color);
}

.container {
  width: 80%;
  margin: 2rem auto;
}